body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ui.secondary.inverted.pointing.menu {
  border-color: transparent;
}

.parallax {
  /* The image used */
  background-image:url(https://i.pinimg.com/originals/88/7a/fe/887afe1b320569750a2eac301292f8c3.jpg);
background-blend-mode: overlay;
  /* Set a specific height */
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
  font-weight: 900;
}

.ui.vertical.menu .active.item {
  background: #6b515154;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.ui.card>.content, .ui.cards>.card>.content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  min-height: 210px;
  flex-grow: 1;
  border: none;
  border-top: 1px solid rgba(34,36,38,.1);
  background: 0 0;
  margin: 0;
  padding: 1em 1em;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 1em;
  border-radius: 0;
}
.ui.modal {
  font-size: 1rem;
  max-width: 70%;
}